body{
    font-family: "Raleway", sans-serif;

}

h1 {
    text-align: center;
}

h2, h3, h4, h5 {

}



p {
    font-size: large;
    font-size: 18px;
    line-height: 1.7;
    text-align: justify;
    margin-bottom: 36px;
    letter-spacing: 0.35px;
    /*color: #2D2D30;*/
 }
body.w3-light-grey w3-content{
    max-width: 1600px;
}

#content {
    position: relative;
    display: flex;
    padding-right:10%;
    padding-left: 10%;
}

#sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Larghezza del menu di navigazione */
  height: 100%;
  overflow-y: auto;
  z-index: 100;

}

.w3-main {
    flex: 1;
    margin-left: 15%; /* Sposta il contenuto a destra per far spazio alla sidebar */
}
top-of-toc

#titoli
.main-titles {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.25rem;
    border-bottom: 0.7rem solid #1d1c22;
    /*color: #2D2D2D;*/
    margin: 0 auto;
    padding-bottom: 1rem;
}

/*#sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  overflow-y: auto;
  z-index: 100;
}*/

.TableOfContentsContainer {
    padding-top: 10px;
    position: sticky;

}
.ElementWrapper-choicer {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 12px;
    position: relative;
    width: auto;
    text-decoration: none;
}
.pallino {
    background-color: #00A67E; /*#E5FC56*/
    border: 2px solid #fff;
    border-radius: 18px;
    display: inline-block;
    height: 10px;
    line-height: 1.5rem;
    margin: auto 12px auto 0;
    max-width: 10px;
    min-height: 10px;
    min-width: 10px;
    position: relative;
    width: 10%;
}
.pallino::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background: #000000;
    border-radius: 18px;
    z-index: -1;
}
.scritta {
    display: inline-block;
    /*color: #000000;*/
    line-height: 1.5rem;
    max-width: 165px;
    vertical-align: middle;
    /*width: 90%;*/
    font-family: 'Belanosima', sans-serif;
}
.css-nx0d73-TocLine {
    background: rgb(0, 0, 0);
    bottom: 8px;
    height: calc((95% - 91px) - -10px);
    margin-bottom: 36px;
    margin-left: 6px;
    position: absolute;
    width: 1px;
    z-index: 39;
}
.css-nx0d73-TocLine {
    background: rgb(0, 0, 0);
    bottom: 8px;
    height: calc((95% - 91px) - -10px);
    margin-bottom: 36px;
    margin-left: 6px;
    position: absolute;
    width: 1px;
    z-index: 39;
}
.scritta-menu {
    display: inline-block;
    /*color: #000000;*/
    line-height: 1.5rem;
    max-width: 165px;
    vertical-align: middle;
    width: 90%;
}
.menu-line {
    background: rgb(0, 0, 0);
    bottom: 0px;
    width: calc((100% - 60px) - 25px);
    margin-bottom: 36px;
    margin-left: 7px;
    position: absolute;
    width: 1px;
    z-index: -2;
}
/*#about{
    background-color: #E1E1E1!important;
}*/
.visualization {
    display: none; /* Hide all visualizations by default */
  }

  .visualization.active {
    display: block; /* Show the active visualization */
  }

@media (max-width: 600px) {
  #sidebar-container {
    display: none;
  }
}
.main-titles {
    font-size: 3rem;
    line-height: 3.375rem;
    border-bottom: 0.4rem solid #1d1c22;
    /*color: #2D2D2D;*/
    margin: 0 auto;
    padding-bottom: 1rem;
}
.w3-third img{
    margin-bottom: 6px;
    opacity: 0.8;
    cursor: pointer;
}

.w3-third img:hover{
    opacity: 1;
}

button {
    border-radius: 5px;
}

/*#mySidebar{
    z-index: 3;
    width: 15%;
    font-weight: bold;
}*/

#myOverlay{
    cursor:pointer;
}

div.w3-hide-large{
    margin-top: 83px;
}

div.w3-row-padding{
    margin: 0 -16px;
}


div.w3-container w3-padding-small w3-center w3-grey{
    width: 95%;
}

div.w3-container w3-padding-small w3-center w3-grey{
    width: 85%;
}

div.w3-container w3-padding-small w3-center w3-grey{
    width: 80%;
}

div.w3-row-padding{
    margin: 0 -16px;
}

/*div.w3-content{
    max-width: 600px;
}

div.w3-content w3-justify{
    max-width: 600px;
}*/

.image-container{
    float: left;
    margin-right: 2%;
}

.image-container-right{
    float: right;
    margin-left: 2%;
}

figure {
    text-align: center;
}

figcaption {
    font-size: 14px;
    margin-top: 1%;
}


div.w3-row-padding{
    margin: 0 -16px;
}

div.w3-third img{
    width: 100%;
}

#caption{

}
/* Stile per grafici importato da codice di Giorgia*/
 .vis.vega-embed {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.vega-embed summary {
    display: none;
}

    .vis.vega-embed details,
    .vis.vega-embed details summary {
      position: relative;
      display: none;
    }

  @media (max-width: 600px) {
  vis {
    width: 50%;
      overflow: hidden;
  }
}

  ul {
      font-size: 18px;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
button {
    cursor: pointer;
    border-radius: 5px;
}

.visualization {
    display: none; /* Hide all visualizations by default */
}

#authors, #teachers, #project {
    list-style-type: none;
    padding-left: 0%;
}

#intelligenza, #contact, #storia{
    background-color: #616161!important;
    color: #F1F1F1!important;
}

#about, #utilizzi{
    background-color: #F1F1F1!important;
    color: #616161!important;
}
